*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
yslibrary.jks

crashlytics.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties

fabric.properties
secret.properties

google-services.json

*.jks

# not ignore
!.idea/codeStyleSettings.xml
!.idea/icon.png
!.idea/icon_dark.png
!.idea/codeStyles/
