.gradle
/local.properties
/.idea/*
.DS_Store
/build

*.iml
crashlytics.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties

fabric.properties
secret.properties

google-services.json

*.jks

!.idea/codeStyleSettings.xml