#
# fabric config
fabric.api.key=YOUR_FABRIC_API_KEY
#
# twitter config
twitter.api.key=YOUR_TWITTER_API_KEY
twitter.api.secret=YOUR_TWITTER_API_SECRET
#
# keystore
keystoreFile=YOUR_KEYSTORE_FILENAME
keyAlias=YOUR_KEY_ALIAS
keystorePassword=YOUR_KEYSTORE_PASSWORD
keystoreKeyPassword=YOUR_KEYSTORE_KEY_PASSWORD