#
# fabric config
fabric.api.key=YOUR_FABRIC_API_KEY
#
# twitter config
twitter.api.key=YOUR_TWITTER_API_KEY
twitter.api.secret=YOUR_TWITTER_API_SECRET
#
# keystore
keystoreFile=YOUR_KEYSTORE_FILENAME
keystorePassword=YOUR_KEYSTORE_PASSWORD
keyAlias=YOUR_KEY_ALIAS
keyPassword=YOUR_KEY_PASSWORD