<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.yslibrary.monotweety">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name=".activity.main.MainActivity"
        android:label="@string/app_name">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="yslibrary.net"
            android:path="/main/*"
            android:scheme="monotweety"/>
      </intent-filter>

      <meta-data
          android:name="android.app.shortcuts"
          android:resource="@xml/shortcuts"/>
    </activity>

    <activity
        android:name=".activity.compose.ComposeActivity"
        android:label="@string/title_compose_status"
        android:launchMode="singleInstance"
        android:theme="@style/AppTheme.Dialog"/>

    <activity
        android:name=".activity.shortcut.ShortcutActivity"
        android:exported="true"
        android:launchMode="singleInstance"
        android:theme="@android:style/Theme.NoDisplay"/>

    <activity
        android:name=".activity.shortcut.CreateShortcutActivity"
        android:label="@string/title_shortcut_editor">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="${fabricApiKey}"/>

    <service
        android:name=".notification.NotificationService"
        android:enabled="true"
        android:exported="false"/>

    <service android:name=".logout.LogoutService"/>

    <service
        android:name=".quicksetting.EditorTileService"
        android:icon="@drawable/ic_notification"
        android:label="@string/label_tile_open_dialog"
        android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE"/>
      </intent-filter>
    </service>

    <receiver android:name=".notification.BootCompletedReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </receiver>

    <receiver android:name=".notification.PackageReplacedReceiver">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>